<%- include("partials/header") -%> 
    <br><br>

    <%  articles.forEach(function(post){ %>
        <h2 style="font-weight:bold; font-size:40px; color:lightslategrey;"><%= post.title %> </h2>
        <p>
            <%= post.content.substring(0, 100) + "...." %> 
            <a href="/posts/<%= post.title  %>">Read More</a>
        </p>
    <%  }) %>

    <div class="createPost">
        <button class="btn btn-primary" onclick="location.href='/compose'" type="button">
            Create new post</button>
    </div>
<%- include("partials/footer") -%> 
