<%- include("partials/header") -%> 
    <%  if (image) { %>
        <img src="http://localhost:3000/<%= image %>" width="200">
    <% } %>
    <h1 style="margin-top: 20px; color:lightslategrey;"><%= title  %> </h1>
    <p style="white-space:pre-wrap; margin-top: 20px;"><%= content  %> </p>
<%- include("partials/footer") -%> 