<%- include('partials/header') -%> 

<body class="body-for-sticky">

    <div class="container">
        <%if (products.length > 0) {%>
        <div class="container mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <% if (hasPreviousPage) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a>
                        </li>
                    <% } %>
                    <li class="page-item active">
                        <a class="page-link" href="?page=<%= currentPage %>"><%= currentPage %></a>
                    </li>
                    <% if (hasNextPage) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= lastPage %>">Last</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div class="row">
            <%for (let product of products) {%>
            <div class="col-sm-4">
                <div class="card mt-4" style="width: 18rem;">
                    <img class="card-img-top" src=<%= product.image %>  alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title mt-2"><%=product.name%></h5>
                        <p class="card-text"><%=product.description%></p>
                    </div>
                </div>
            </div>
            <%}%>
            <div class="container mt-4">
                <nav aria-label="Page navigation example" >
                    <ul class="pagination justify-content-center">
                        <% if (hasPreviousPage) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=1">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a>
                            </li>
                        <% } %>
                        <li class="page-item active">
                            <a class="page-link" href="?page=<%= currentPage %>"><%= currentPage %></a>
                        </li>
                        <% if (hasNextPage) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= lastPage %>">Last</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
        <%} else {%>
        <div class="text-center">
            <h5>No products found.</h5>
            <div class="mt-4">
                <a href="/" class="btn btn-outline-primary">Go Home</a>
            </div>
        </div>
        <%}%>
    </div>

</body>
<%- include("partials/footer") -%> 
